version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - APIKEY=${APIKEY}
      - SECRETKEY=${SECRETKEY}
    volumes:
      - ./app:/app/app
